.blocks-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 40px 0px 40px;
}
.block-wrapper {
    background-color: #F3F5F7;
    padding: 20px;
}

@media (max-width: 880px) {
    .blocks-wrapper{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
    }
}
@media (max-width: 500px) {
    .blocks-wrapper {
        grid-gap: 10px;
        padding: 20px 0px 20px;
    }
    .blocks-wrapper img {
        max-width: 30px;
    }
    .block-wrapper h3 {
        font-size: 18px;
    }
    .block-wrapper p {
        font-size: 12px;
    }
}