.main-banner-wrapper {
    max-width: 1440px;
    max-height: 700px;
    overflow: hidden;
}
.main-banner-info-wrapper {

    max-width: 480px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main-banner-info-wrapper-position {
    position: relative;
    top: 70px;
    left: 55%;
}
.main-banner-info-wrapper h1 {
    font-size: 45px;
    margin: 0;
}

@media screen and (max-width: 800px) {
    .main-banner-info-wrapper h1 {
        font-size: 30px;
    }
    .main-banner-info-wrapper p{
        font-size: 8px;
        font-weight: 500;
    }
    .main-banner-info-wrapper button {
        max-width: 240px;
        font-size: 12px;
        color: white;
        background-color: black;
        padding: 10px 30px 10px;
        border-radius: 6px;
    }
}

.main-banner-info-wrapper h1 span {
    color: #377DFF;
}
.main-banner-info-wrapper p{
    font-size: 12px;
    font-weight: 500;
}
.main-banner-info-wrapper button {
    max-width: 240px;
    font-size: 12px;
    color: white;
    background-color: black;
    padding: 10px 30px 10px;
    border: 1px solid black;
    border-radius: 6px;
}
.main-banner-info-wrapper button:hover {
    cursor: pointer;
    transition: ease-in-out 0.5s;
    background-color: white;
    color: #ffaa00a0;
    border: 1px solid white;
}