.product-wrapper{
    max-width: 260px;
    min-width: 160px;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-around;
}
.product-wrapper img {
    width: 100%;
}
.product-wrapper h3, .price {
    margin: 4px 0px 4px;
    font-size: 14px;
    font-weight: 500;
}
.button-position {
    position: relative;
}
.button-position button {
    width: 90%;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    bottom: 40px;
    border-radius: 8px;
    color: white;
    background-color: black;
}

.button-position button:hover {
    cursor: pointer;
    transition: ease-in-out 0.5s;
    background-color: white;
    color: #ffaa00a0;
    border-color: #ffaa00a0;
}
.swiper-slide {
    max-width: 260px;
}