.product-wrapper{
    max-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-wrapper img {
    max-width: 260px;
}
.product-wrapper h3, .price {
    font-size: 14px;
    font-weight: 500;
}
.button-position {
    position: absolute;
}
.button-position button {
    width: 240px;
    padding: 8px 0px 8px;
    margin: 0px 10px 0px;
    position: relative;
    display: inline-block;
    top: 300px;
    border-radius: 8px;
    color: white;
    background-color: black;
}
