.promotion {
    max-width: 100%;
    max-height: 520px;
    display: flex;
    color: #121212;
    overflow: hidden;
}
.promotion-left {
    min-width: 50%;
    height: 100%;
}
.promotion-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    min-width: calc(50% - 20px);
    background-color: #feba0040;
}
.promotion-right span {
    font-weight: 500;
    color: #377DFF;
}
.promotion-right h2 {
    margin: 0;
}
.promotion-right p {
    margin: 6px 0px 6px;
}
.timer-wrapper {
    display: flex;
    gap: 10px;
}
.timer-block {
    width: 40px;
    height: 40px;
    background-color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer-block-wrapper p {
    margin: 0;
    font-size: 10px;
    text-align: center;
}
.promotion-right button {
    max-width: fit-content;
    margin-top: 20px;
    padding: 6px 40px 6px;
    background-color: black;
    color: white;
    border-radius: 8px;
}
.shop-now:hover {
    cursor: pointer;
    transition: ease-in-out 0.5s;
    background-color: white;
    color: #ffaa00a0;
    border-color:#ffaa00a0;
}

@media (max-width: 820px) {
    .promotion-left {
        display: none;
    }
    .promotion-right {
        width: 100%;
        padding: 20px;
    }
}